# Hi Language Test Results

**Run at:** 2025-09-26T08:59:05.582Z

| Test Case | Status |
|-----------|--------|
| Build Step | ❌ FAIL |

---

## Failures

### `Build Step`

**Reason:** Master, failed to build parser from `grammar.ne`.

**Error:**
```
sh: 1: nearleyc: not found

```

---

